/* Coolors Exported Palette - coolors.co/ef6461-e4b363-e8e9eb-e0dfd5-313638 */

/* HSL */
$primary: hsla(1%, 82%, 66%, 1);
$secondary: hsla(37%, 70%, 64%, 1);
$tertiary: hsla(220%, 7%, 92%, 1);
$quaternary: hsla(55%, 15%, 86%, 1);
$highlight: hsla(197%, 7%, 21%, 1);

/* RGB */
$primary: rgba(239, 100, 97, 1);
$secondary: rgba(228, 179, 99, 1);
$tertiary: rgba(232, 233, 235, 1);
$quarternary: rgba(224, 223, 213, 1);
$highlight: rgba(49, 54, 56, 1);
